/* for flex-charts.html */

.row {
    display: flex;
    align-items: stretch;
}

.row .label {
    flex: 0 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row .container {
    flex: 1;
    display: flex;
    justify-content: flex-start;/*  left hand corner of the webpage */
}

.row .dish {
    display: flex;
    justify-content: center;
    align-items: center;
}


.pasta {
    background-color: darkorange;
}
.pizza {
    background-color: red;
}
.burrito {
    background-color: chartreuse;
}